<ion-header>
  <ion-toolbar>
    <ion-button class="logo ripple-off" slot="start" fill="clear" (click)="backHome()">
      <ion-icon src="../../../assets/icon/logo.svg" size="large"></ion-icon>
      Logo
    </ion-button>

    @if(isSearchButton) {
      <ion-button fill="clear" (click)="toSearch()">
        <ion-icon name="search"></ion-icon>
        Search
      </ion-button>
    }



    @if (isLoginButton) {
      @if(isLogin) {
        <ion-button slot="end" fill="clear" (click)="logOut()">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          Log out
        </ion-button>
      } @else {
        <ion-button slot="end" fill="clear" (click)="toLogin()">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          Login
        </ion-button>
      }
    }

  </ion-toolbar>
</ion-header>
