.loader {
  position: fixed;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #7b818836;
  backdrop-filter: blur(3px);

  ion-img {
    animation: rotate 3s linear infinite;
    height: 20vh;
    width: 20vh;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
