@import "../../../theme/mixins.scss";

ion-toolbar {
  --padding-end: 30px;
}

.swiper-row {
  margin-top: 15px;
  border-bottom: 2px solid var(--ion-color-primary-shade);
}

swiper-container {
  height: 44vh;
  --swiper-theme-color: var(--ion-color-primary);

  @include mobile {
    height: 30vh;
  }

  swiper-slide {
    border-radius: var(--border-radius);
    overflow: hidden;
    padding-bottom: 50px;
  }

  ion-img {
    object-fit: fill;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
  }
}
